{% extends 'admin_navbar.html' %}
{% block content %}
<!-- <button><a href='/logout/'>Logout</a></button> -->

<p>Name: {{trainer.full_name}}</p>
<p>Phone: {{trainer.phone}}</p>
<p>Email: {{trainer.email}}</p>
<p>Certifications: {{trainer.cert}}</p>
<p>Role: {{trainer.field_of_expertise}}</p>
<br>
<!-- <button><a href='/calendar/'>Calendar</a></button>
<br>
<button><a href='/all_clients/'>All Clients</a></button>
<br>
<button><a href='/all_dogs/'>All Dogs</a></button>
<br>
<button><a href='/add_admin_user/'>Add Trainer</a></button>
<br>
<button><a href='/all_messages/{{request.user.id}}'>Messages</a></button>
<br>
<button><a href='/notifications/{{request.user.id}}'>Notifications</a></button>
<br>
<button><a href='/message_form/'>Write Message</a></button> -->
{% endblock %}