{% load static %}
{% include request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">

<h1 style="background-color: #5bbdc8; color:#f9e54e;text-shadow: 2px 2px #ff0000;">All Dogs</h1>

  {% for dog in dogs %}
  <div class="card-body" style="align-items: center;">
    {% if dog.profile_pic %}
      <img src={{dog.profile_pic.image.url}} class="card-img-top" style="height: 12rem; width: 10rem; border-radius: 20px;">
      {% else %}
      <img  src="/static/base/dog_default_pic.jpg/" class="card-img-top" style="height: 12rem; width: 10rem; border-radius: 20px;">

    {% endif %}

      <h5 class="card-title"><a href='/dog_profile/{{dog.id}}/' style="background-color: #5bbdc8; color:#f9e54e;text-shadow: 2px 2px #ff0000;">{{dog.name}}</a></h5>
    </div>
    <br>
  {% endfor %}
  {% endblock %}
