{% extends request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html'%}
{% block content %}

<h1>All Trainers</h1>

{% for trainer in all_trainers %}

<div class="card-body">
{% for pic in all_profile_pics %}
{% if pic.user == trainer.admin_user %}
  <img src={{pic.image.url}} class="card-img-top" style="height: 12rem; width: 10rem;">
{% endif %}
{% endfor %}
  <h5 class="card-title"><a href='/trainer_detail/{{trainer.id}}'>{{trainer.full_name}}</a></h5>
{{trainer.field_of_expertise}}
</div>
{% endfor %}
{% endblock %}