{% load static %}
{% include request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
{% load crispy_forms_tags %}


<div>
  
  <form method='post' action="">
    <h3>Write New Message</h3>
    {% csrf_token %}
    {{ form2|crispy }}
    <input class='btn btn-primary' style='background-color:#f9e54e;color:#5bbdc8;text-shadow: 1px 1px #ff0000;'  type='submit' value='Send'>
  </form>


<br>
<br>
  <form method="get" action=''>
    <h2>Messages: </h2>
    {% csrf_token%} 
    {{form|crispy}}
    <input class='btn btn-primary' style='background-color:#f9e54e;color:#5bbdc8;text-shadow: 1px 1px #ff0000;'  type="submit" value="Filter by Name" />
  </form>
</div>


<div>
  
<div class='card-body' style="display: flex;flex-direction: column; border: 2px solid lightblue;float: left;width: 50%;">
  {% for message in all_messages %}
  {% if  message.sent_by == request.user and message.send_to == user_filter %}
  <div class='card-body' style='border: 2px solid blue;background-color: white;color: black;text-shadow: none;'>
  <p><b>From:</b> You
  <br> <b>To: </b>{{message.send_to}}</p>
  <p>{{message.text}}</p>
  <p>{{message.time_posted}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class='card-body' style="display: flex;flex-direction: column; border: 2px solid lightgreen;float: right;width: 50%;">
  {% for message in all_messages %}
  {%if message.send_to == request.user and message.sent_by == user_filter %}
  <div class='card-body' style='border: 2px solid green;background-color: white;color: black;text-shadow: none;'>
  <p><b>From:</b> {{message.sent_by}}
  <br><b>To: </b>You</p>
  <p>{{message.text}}</p>
  <p>{{message.time_posted}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>

</div>

{% endblock %}