{% extends request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}

{% load crispy_forms_tags %}


<div>
  
  <form method='post' action="">
    <h3>Write New Message</h3>
    {% csrf_token %}
    {{ form2|crispy }}
    <input type='submit' value='Send'>
  </form>


<br>
<br>
  <form method="get" action=''>
    <h2>Messages: </h2>
    {% csrf_token%} 
    {{form|crispy}}
    <input type="submit" value="Filter by Name" />
  </form>
</div>


<div>
  
<div style="display: flex;flex-direction: column; border: 2px dashed pink;float: left;width: 50%;">
  {% for message in all_messages %}
  {% if  message.sent_by == request.user and message.send_to == user_filter %}
  <div style='border: 2px solid blue;'>
  <p><b>From:</b> You
  <br> <b>To: </b>{{message.send_to}}</p>
  <p>{{message.text}}</p>
  <p>{{message.time_posted}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div style="display: flex;flex-direction: column; border: 2px dashed orange;float: right;width: 50%;">
  {% for message in all_messages %}
  {%if message.send_to == request.user and message.sent_by == user_filter %}
  <div style='border: 2px solid green;'>
  <p><b>From:</b> {{message.sent_by}}
  <br><b>To: </b>You</p>
  <p>{{message.text}}</p>
  <p>{{message.time_posted}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>

</div>

{% endblock %}