<!-- # calendar: https://www.huiwenteo.com/normal/2018/07/24/django-calendar.html -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar/calendar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">

{% block content %}
{% include request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
<div class="clearfix">
	<a class="btn left" style='background-color:#f9e54e;color:#5bbdc8;text-shadow: 1px 1px #ff0000;' href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn right" style='background-color:#f9e54e;color:#5bbdc8;text-shadow: 1px 1px #ff0000;' href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
</div>


{{ calendar }}
{% endblock %}
