<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">BananaDog</h1>
          <hr class="mt-0 mb-4">
          </div>
          </div>
    {% if request.user.is_authenticated and not request.user.is_staff %}
<div class='navcontainer'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand active" href="/client_home/{{request.user.id}}">{{request.user.username}}<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/calendar/">Calendar</a>
            <a class="nav-item nav-link" href="/all_messages/{{request.user.id}}">Messages</a>
            <a class="nav-item nav-link" href="/notifications/{{request.user.id}}">Notifications<span class="badge badge-light">{{num_notifications}}</span></a>

            <div class="dropdown">
              <a class="nav-item nav-link dropdown-toggle" href="/all_trainers/" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Trainers
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/all_trainers/">All Trainers</a>
                <div class="dropdown-divider"></div>
                {% for trainer in all_trainers %}
                <a class="dropdown-item" href='/trainer_detail/{{trainer.id}}'>{{trainer.full_name}}</a>
                {% endfor %}
              </div>
            </div>

            <a class="nav-item nav-link" href="/logout/">Logout</a>
            {% endif %}
          </div>
        </div>
      </nav>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block content %}
  
    {% endblock %}
  
    {% block script %}
    {% endblock %}

</body>
</html>