{% load static %}
{% include request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
<div>
  <div class="card-body" style='display: flex; flex-direction: row;'>
    
    {% if this_client.profile_pic %}
      <img src={{pic.image.url}} class="card-img-top" style="height: 18rem; width: 14rem; margin-right: 20px; border-radius: 20px;">
      {% else %}
      <img  src="/static/base/default_profile_image.jpg/" class="card-img-top" style="height: 18rem; width: 14rem; margin-right: 20px;" id='profile-image'>
    {% endif %}

    <div>
    <h3 class="card-title">{{this_client.full_name}}</h3>
      
        <p class="card-text"><b>Email: </b>{{this_client.email}}</p>
        <p class="card-text"><b>Address:</b> {{this_client.address}}</p>
        <p class="card-text"><b>Phone:</b> {{this_client.phone_contact}}</p>
        <br>
      
        <div class="dropdown">
          <button  style='background-color:#f9e54e;color:#5bbdc8;text-shadow: 1px 1px #ff0000;' class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Dogs
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {%for dog in this_client.dogs_owned.all%}
            <a class="dropdown-item"  style='background-color:#f9e54e;color:#5bbdc8;text-shadow: 1px 1px #ff0000;' href='/dog_profile/{{dog.id}}'>{{dog.name}}</a>
            {%endfor%}
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
