{% extends request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}
{% load static %}
<a class="nav-item nav-link" href="/dog_edit/{{dog.id}}/">Edit Dog Profile</a>

<div>
  <p>Name: {{dog.name}}</p>
  {% if this_user.is_staff %}
  <p>Owner: <a href='/client_detail/{{dog.owner.id}}'>{{dog.owner.full_name}}</a></p>
  {% else %}
  <p>Owner: {{dog.owner.full_name}}</p>
  {% endif %}
  <p>Breed: {{dog.breed}}</p>
  <p>Age: {{dog.age_years}}year(s) {{dog.age_months}}month(s)</p>
  <p>Vet Name: {{dog.vet_name}}</p>
  <p>Vet Contact #: {{dog.vet_number}}</p>
  <p>Vet Address: {{dog.vet_address}}</p>
  <p>Speacial Needs: {{dog.special_needs}}</p>
  <img>Extra Notes: {{dog.extra_notes}}</img>
  </div>
  <br>
  <div>

    

  <button><a href=/all_reports/{{dog.id}}>All Reports</a></button>
    
    <form method='POST' action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{image_form.as_p}}
      <input type='submit' value='Submit'>
    </form>

    

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#photos-dropdown" aria-expanded="false" aria-controls="collapseExample">
      Photos
    </button>
  <div class="collapse" id="photos-dropdown">
    <div class="card card-body">
      {% for image in image_files %}
      {% if '.jpg' in image.image.url %}
      <div class="card" style="width: 10rem;">
          <img class="card-img-top" src={{image.image.url}} style="height: 12rem;" >
          {% if not request.user.is_staff %}
          <a class="btn btn-primary" href='/delete__dog_media/{{image.id}}'>Delete</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <br>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#videos-dropdown" aria-expanded="false" aria-controls="collapseExample">
    Videos
  </button>
<div class="collapse" id="videos-dropdown">
  <div class="card card-body">
    {% for file in image_files %}
    {% if '.m4v' in file.image.url %}
    <p>{{file.file}}</p>
    <div class="card" style="width: 18rem;">
      <video class="card-img-top" controls >
        <source src={{file.image.url}} type="video/mp4">
      </video>
      {% if not request.user.is_staff %}
      <a class="btn btn-primary" href='/delete_dog_media/{{file.id}}'>Delete</a>
      {% endif %}
    </div>
  </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
  </div>
{% endblock %}
