{% load static %}

<div>
  <p>Name: {{dog.name}}</p>
  <p>Owner: {{dog.owner}}</p>
  <p>Breed: {{dog.breed}}</p>
  <p>Age: {{dog.age_years}}year(s) {{dog.age_months}}month(s)</p>
  <p>Vet Name: {{dog.vet_name}}</p>
  <p>Vet Contact #: {{dog.vet_number.phone}}</p>
  <p>Vet Address: {{dog.vet_address}}</p>
  <p>Speacial Needs: {{dog.special_needs}}</p>
  <img>Extra Notes: {{dog.extra_notes}}</img>
  </div>
  <br>
  <div>
    
    <p><b>Profile Pic</b></p>
    <img src="{% static 'img_media/profiles/IMG_3496.jpg' %}" width="200" height="200">
    <p>{{dog.profile_pic}}</p>
    <br>
    <p><b>All Media</b></p>
    - Photos
    <br>
    {% for p in pics_path %}
    <img src="{% static p %}" width="200" height="200">
    <p>{{p}}</p>
    {% endfor %}
    - Videos
    <br>
    {% for v in vids_path %}
    <video width="320" height="240" controls>
      <source src="{% static v %}" type="video/mp4">
    </video>
    <p>{{v}}</p>
    {% endfor %}
  </div>

