{% if request.user.is_authenticated and request.user.is_staff%}
<button><a href='/trainer_home/{{this_user.id}}'>Home</a></button>
{% elif request.user.is_authenticated and not request.user.is_staff %}
<button><a href='/client_home/{{this_user.id}}'>Home</a></button>
{% else %}
<button><a href="/">Home</a></button>  
{% endif %}

<form method='post' action=''>


    {% csrf_token %}
  
    {{ form.as_p }}
  
    <input type="submit" value="Submit">
  </form>
  
  <button><a style='text-decoration: none;' href='/signup/'>Sign Up</a></button>