{% load static %}

{% block content %}
{% include request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
{% load crispy_forms_tags %}

<div class="card-body">
<h1 style='background-color:#5bbdc8;color:#f9e54e;text-shadow: 2px 2px #ff0000;'>Report Detail for {{this_dog.name}}</h1>
</div>
<br>
<div class="card-body">
<p>Session: <a style="background-color: #5bbdc8; color:#f9e54e;text-shadow: 2px 2px #ff0000;" href='/session/{{this_report.session.id}}/'>{{this_report.session.activity_name}}</a></li></p>
<p>Report submitted at:{{this_report.time_created}}</p>
<p>Notes: {{this_report.notes}}</p>
</div>
<br>
{% if request.user.is_staff %}
<div >
  <form method="post" action="">
    {% csrf_token%} {{form.as_p}}
    <input class="btn btn-primary" style='background-color:#f9e54e;color:#5bbdc8;text-shadow: 1px 1px #ff0000;' type="submit" value="submit" />
  </form>
</div>
{% endif %}

{% endblock %}