{% extends request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}
{% if request.user.is_staff %}
<button><a href='/trainer_home/{{this_user.id}}'>Home</a></button>
<button><a href='/session_edit/{{session.id}}'>Edit Session</a></button>
{% else %}
<button><a href='/client_home/{{this_user.id}}'>Home</a></button>
<button><a href='/session_add_dog/{{session.id}}'>Book this session</a></button>
{% endif %}
<button><a href='/calendar/'>Calendar</a></button>



<br>
<b>Activity:</b> {{session.activity_name}}
<br>
<b>Date</b>
{{session.date}}
<br>
<b>Start:</b>
{{session.start_time}}
<br>
<b>End:</b>
{{session.end_time}}
<br>
<b>Trainers</b>
  {% for trainer in session.trainer.all  %}
  <li>
    <a href='/trainer_detail/{{trainer.id}}'>{{trainer.full_name}}</a>
  </li>
  {% endfor %}
<br>
<b>Description:</b> {{session.description}}
<br>
<br>
<b>Dogs Booked:</b>
<br>
{% for dog in dogs_assigned %}
<li>
  <a href='/dog_profile/{{dog.id}}'>{{dog.name}}</a>
</li>
<br>
{% endfor %}
<br>
<p>
  <b>Availability:</b>
  {% if session.full %}
  Sorry, this session is full!
  {% else %}
  There are still {{open_slots}} slots available for this session!
  {% endif %}
</p>
<br>

<p>
  <b>Session Status:</b>
  {% if session.completed %}
This session has ended
{% else %}
This session is pending completion
{% endif %}
</p>

<br>
<h3>Notes:</h3>
{{session.notes}}


{% if session.complete %}
<p>Session times:</p>
start:{{session.start}}
end:{{session.end}}
{% endif %}

{% if request.user.is_staff %}
<h3>Start/End</h3>
<form method='post' action="">
  {% csrf_token %}
  {{form.as_p}}
  {% if not session.start_check and not session.completed %}
  <input type='submit' value='Start'>
  {% elif session.start_check and not session.completed %}
  <input type='submit' value='End'>
  {% elif session.completed and not session.report_submitted %}
  <input type='submit' value='Submit Reports'>
  {% endif %}
</form>
{% endif %}
{% endblock %}