{% load static %}
{% include request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
{% load crispy_forms_tags %}
<br>
<div>
  <div class="card-body">
    {% if this_trainer.profile_pic %}
      <img src={{this_trainer.profile_pic.image.url}} class="card-img-top" style="height: 18rem; width: 14rem; border-radius: 20px;">
      {% else %}
      <img  src="/static/base/default_profile_image.jpg/" class="card-img-top" style="height: 18rem; width: 14rem;border-radius: 20px;">
    {% endif %}
    <h3 class="card-title">{{this_trainer.full_name}}</h3>
        <p class="card-text"><b>Role:</b> {{this_trainer.field_of_expertise}}</p>
        <p class="card-text"><b>Certifications:</b> {{this_trainer.cert}}</p>
        <p class="card-text"><b>Email: </b>{{this_trainer.email}}</p>
        <p class="card-text"><b>Address:</b> {{this_trainer.address}}</p>
        <p class="card-text"><b>Phone:</b> {{this_trainer.phone_contact}}</p>
        <br>
  </div>
</div>

{% endblock %}
