{% load static %}
{% include request.user.is_staff|yesno:'admin_navbar.html,client_navbar.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
{% load crispy_forms_tags %}
<div>
  <div class="card-body">
    {% for pic in all_profile_pics %}
    {% if this_trainer.admin_user == pic.user %}
      <img src={{pic.image.url}} class="card-img-top" style="height: 18rem; width: 14rem;">
    {% endif %}
    {% endfor %}
    <h3 class="card-title">{{this_trainer.full_name}}</h3>
        <p class="card-text"><b>Role:</b> {{this_trainer.field_of_expertise}}</p>
        <p class="card-text"><b>Certifications:</b> {{this_trainer.cert}}</p>
        <p class="card-text"><b>Email: </b>{{this_trainer.email}}</p>
        <p class="card-text"><b>Address:</b> {{this_trainer.address}}</p>
        <p class="card-text"><b>Phone:</b> {{this_trainer.phone_contact}}</p>
        <br>
  </div>
</div>

{% endblock %}
